#flightTravelDiv{
    width: 100%;
    height: 50px;
    display: flex;
}

#flightTravelDiv > div:nth-child(1){
    width: 90%;
    height: 100%;
    display: flex;
    gap: 2%;
}

#flightTravelDiv > div:nth-child(1) > button{
    width: 15%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#flightTravelDiv > div:nth-child(1) > button:hover{
    background-color:#E7EDFD;
    color: #3662d8;
}

#flightTravelDiv > div:nth-child(2){
    width: 30%;
    display: flex;
    align-items: center;
    gap: 10%;
}

#flightTravelDiv > div:nth-child(2) > p:hover{
    text-decoration: underline;
}

#flightBtnDiv{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1.5%;
    height: 50px;
    margin-top: 2%;
}

#flightBtnDiv > div{
    border-radius: 10px;
    background-color: white;
    border: 1px solid #343b53;
    text-align: left;
    padding: 1%;
    display: flex;
    gap: 2%;
    align-items: center;
    cursor: pointer;
}

#flightBtnDiv > div:nth-child(1){
    width: 30%;
}

#flightBtnDiv > div:nth-child(2){
    width: 30%;
}

#flightBtnDiv > div:nth-child(3){
    width: 15%;
}

#flightBtnDiv > div:nth-child(4){
    width: 15%;
}

#flightBtnDiv > div:nth-child(2) > div:nth-child(1){
    width: 30px;
    height: 25px;
    border-radius: 20px;
    border: 1px solid #343b53;
    text-align: center;
    padding-top: 5px;
    position: relative;
    right: 30px;
    background-color: white;
}