/*---------------------------------similar styles----------------------------------------------*/
*{
    font-family: 'Noto Sans', sans-serif;
}
body{
    background-color: #ededed;
}
.heading{
    width: 75%;
    margin: auto;
}
.heading > h2{
    font-size: 20px;
}
.login_div{
    width: 75%;
    height: 450px;
    background-color: white;
    margin: 10px auto 40px;
    display: flex;
    gap: 29%;
}


.left_div{
    width: 50%;
}
.left_div >p,.left_div > input,.left_div > i{
    margin-left: 20px;
}
.left_div >p:nth-child(1){
    font-size: 16px;
}
.bold{
    font-size: 13px;
    color: #616161;
    font-weight: 700;
    margin: 10px 0px 5px;
}
#warning, #warning2{
    margin-left: 20px;
    background-color: #fad4d4;
    border-left: 3px solid #b80000;
    color: #b80000;
    padding: 10px;
    font-size: 15px;

}
#warning > i,#warning2 > i{
    padding-right: 10px;
    font-size: 15px;
}
.hide{
    margin-top: 5px;
    color: #b8000f;
    font-size: 13px;
}
.hide,#warning,#warning2{
    display: none;
}
#email, #password,#confirm_pass{
    width: 370px;
    height: 33px;
    border-radius: 4px;
    border:1px solid gray;
    box-shadow: 1px 0.5px   gray;
}
#email:focus, #password:focus,#first_name:focus,#confirm_pass:focus,#surname:focus{
    outline: 2.5px solid black;
}
.grayc{
    font-size: 13px;
    color: rgb(88, 87, 87);
}
.bluec{
    font-size: 13px;
    color: darkblue;
}
.left_div > button{
    display: block;
    margin:20px 30px;
    height: 50px;
    width: 100px;
    border: 1px solid darkgrey;
    background-color: #f3b10b;
    font-size: 16px;
    font-weight: 700;
    border-radius: 6px;
    box-shadow: 0.5px 0.5px gray;
}
.left_div > button:hover, .bluec:hover{
    cursor: pointer;
}
.left_div > button:hover{
    background-color: #f1ba2f;
}


/*---------------------right div----------------------------*/
.right_div{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.right_div > div:nth-child(1)>div{
    border: 1px solid gray;
    padding: 8px 0px 8px 8px;
    width: 90%;
    margin: 10px 0px;
    border-radius: 6px;
    font-weight: 700;
    font-size: 15px;
}
.right_div > div:nth-child(1)>div > i{
    font-size: 20px;
    padding:0px 6px 0px 5px;
}
.right_div > div:nth-child(1)>div:nth-child(1){
    margin-top: 40px;
}
.right_div > div:nth-child(1)>div:nth-child(3){
    background-color: #0063b5;
    color: white;
    font-size: 14px;
}
.right_div >div:nth-child(2){
    color: rgb(116, 114, 114);
    font-size: 13px;
    line-height: 25px;
}
.right_div >div:nth-child(2) i{
    padding:0px 5px 0px 10px;
}



/*-------------------------------signup div----------------------------------------*/
.signup_div{
    width: 75%;
    height: 700px;
    background-color: white;
    margin: 10px auto 40px;
    display: flex;
    gap: 12%;
}
.signup_div >div:nth-child(1) > button{
    width: 200px;
}
.leftpad{
    padding-left: 20px;
}
.check{
    background-color: #f5f5f5;
    padding: 10px 20px 10px;
    color: rgb(77, 75, 75);
    margin:20px 0px 20px 20px;
}
.check > p{
    margin-top: 0px;
    font-size: 15px;
}
.check > div{
    font-size: 13px;
    line-height: 25px;
}
.check > div > i{
    font-size: 14px;
}
.names{
    display: flex;
}
.names > div{
    width: 35%;
}

.names > div:nth-child(1){
    margin-left: 20px;
}
#first_name, #surname{
    width: 170px;
    height: 33px;
    border-radius: 4px;
    border:1px solid gray;
    box-shadow: 1px 0.5px   gray;
}