/* ------------------------------------------------navbar---------------------------------------------- */

.navbar
{
   margin: 0;
   padding: 0;
   margin-top: -7px;
   display: grid;
   grid-template-columns:15% 45%  12% 7% 7% 7% ;
   height: 60px;
   padding-top: 15px ;
   font-size: 15px;
   font-weight: 600;
   text-align: right;
   color: rgb(49, 48, 48);
   border-bottom: 1px solid rgb(201, 201, 201);
   background-color: white;
}
.navbar > div:nth-child(3) > img{
    margin-top: 3px;
    margin-right: 10px;
    width: 34%;
    height: 50%;
}
.navbar >:first-child
{
  grid-area: 'a';
}
.navbar >:nth-child(2)
{
    grid-area: 'b';
    text-align: left;
    padding-left: 8%;
}

.navbar >:nth-child(3)
{
    grid-area: 'c';
   padding-left: 50%;   
}
.navbar >:nth-child(4)
{
    grid-area: 'd';
}
.navbar >:nth-child(5)
{
    grid-area: 'e';
}
.navbar >:nth-child(6)
{
    grid-area: 'f';
}

.navbar >:nth-child(2):hover .category
{
    display: block;
}

@media screen and (max-width:1150px){
    .navbar
    {
        grid-template-columns:16% 16% 16% 16% 16% 16% ;
        grid-template:'a b c e f g'; 
       text-align: center;
    }
    }

    @media screen and (max-width:900px){
        .navbar
        {
            grid-template:'a b c' 
                           'e f g'; 
           text-align: center;
           height: 100px;
        }
        }

.navbar p
{
    margin-top: 5px;
}
.navbar>:nth-child(3) 
{
   display: flex;
}

.navbar>:nth-child(3) img
{
    height: 30px;
}

 .navbar img,.navbar p:hover
{
    cursor: pointer;
    color: #3662D8;
}

.category
{
  background-color: white;
  position:absolute;
  border-radius: 7px;
  width: 20%;
  margin-top: 1%;
  font-size: 17px;
  box-shadow: 5px 10px 18px #272727;
  display: none;
}
.category >:nth-child(1)
{
  margin-top: 7%;
}
.category >:nth-child(5)
{
  margin-bottom: 10%;
}
.category ul
{
  margin-top: 4%;
  text-align: left;
  padding-left: 10%;
 
}
.category ul:hover
{
  background-color: #E7EDFD;
  cursor: pointer;
}


.category img
{
    height: 15px;
    padding-right: 10px;
}

.category  .font_color_1
{
    height: 15px;
    padding-right: 10px;
}

.footer_Copyright
{
    background-color: white;
    text-align: center;
    font-size: 11px;
    margin:auto;
    margin-top: 2%;
    padding: 20px;
}
.footer_Copyright p:hover
{
    cursor: text;
    color: rgb(39, 38, 38);    
}
a{
    text-decoration: none;
    color: black;
}
