
.searchCity{
    width: 400px;
    max-height: 100%;
    min-height: 60%;
    background-color: white;
    position: absolute;
    left: 210px;
    top: 310px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 4px rgba(128, 127, 127, 0.2);;
    z-index: 10;
}

.searchC{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid rgba(180, 180, 180, 0.562);
}

.searchC input{
    width: 94%;
    height: 99%;
    padding-left: 5%;
    border: none;
    font-size: 20px;
    outline: none;
    border-radius: 10px;
}

.searchC input::placeholder{
    color: #141d38c2;
    font-size: 16px;
}

.show{
    width: 100%;
    max-height: 80%;
}

.cityDiv{
    width: 100%;
    height: 20%;
    /* border: 1px solid black; */
    display: flex;
    margin-bottom: 5%;
    cursor: pointer;
}

.d1{
    width: 8%;
    height: 100%;
    /* border: 1px solid red; */
    padding: 2%;
}

.d2{
    width: 100%;
    height: 60%;
    display: flex;
    gap: 2%;
}

.d2 > p{
    font-weight: 700;
    font-family: "Centra No2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #141d38;
    font-size: 15px;
}

.d2 > p:hover{
    color: #141d38;
}

.divp1{
    width: 100%;
}

.divp1 > p{
    font-family: "Centra No2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #141d38c2;
    font-size: 12px;
    width: 100%;
}

.divp1 > p:hover{
    color: #141d38;
}

.divP{
    width: 100%;
    height: 20px;
    background: url('https://api.iconify.design/mdi/airplane.svg?color=gray&width=14&height=14') no-repeat center center / contain;
}