*
{    
    font-family: 'Open Sans', sans-serif;  
    margin:0;
    padding: 0;
}


/* ----------------------------------Navbar----------------------------------------*/

.navbar
{
    margin: 0;
    padding: 0;
   display: grid;
   grid-template-columns:15% 10% 40%  7% 7% 7% 7% ;
   height: 50px;
   padding-top: 15px ;
   font-size: 15px;
   font-weight: 600;
   text-align: right;
   color: rgb(49, 48, 48);
   border-bottom: 1px solid rgb(201, 201, 201);
}

@media screen and (max-width:1100px){
    .navbar
    {
       grid-template-columns:40% 40% 0%;
       grid-template-rows:30% 30% 30%;

       text-align: center;
       height: 150px;
    }
    }

.navbar p
{
    margin-top: 5px;
}
.navbar>:nth-child(4) 
{
   display: flex;
}

.navbar>:nth-child(4) img
{
    height: 30px;
}

 .navbar img, p:hover
{
    cursor: pointer;
    color: #3662D8;
}

.category
{
  background-color: white;
  position:absolute;
  border-radius: 7px;
  width: 20%;
  margin-left: 2%;
  margin-top: 1%;
  font-size: 17px;
  box-shadow: 5px 10px 18px #272727;
  display: none;
}
.category >:nth-child(1)
{
  margin-top: 7%;
}
.category >:nth-child(5)
{
  margin-bottom: 10%;
}
.category ul
{
  margin-top: 4%;
  text-align: left;
  padding-left: 10%;
 
}
.category ul:hover
{
  background-color: #E7EDFD;
  cursor: pointer;
}
.navbar >:nth-child(2):hover .category
{
    display: block;
}

.category img
{
    height: 15px;
    padding-right: 10px;
}

.category  .font_color_1
{
    height: 15px;
    padding-right: 10px;
}

/* ----------------------------------footer----------------------------------------*/

.footer
{
display: grid;
width: 90%;
margin: auto;
grid-template-columns:20% 20% 20% 20% 20% ;
height: 270px;
}

@media screen and (max-width:900px){
.footer
{
grid-template-columns:33% 33% 33% ;
height: 450px;
}
}

@media screen and (max-width:600px){
.footer
{
grid-template-columns:100% ;
text-align: center;
height: 700px;
width:40%;
margin: auto;
text-align: left;

}
}

.footer
{
font-size: 12px;
color: #3662D8;
margin-top: 2%;
margin-bottom: 2%;
}

.footer h3
{
color: rgb(58, 57, 57);
margin-top: 0;
}
.footer p
{
 margin-top: 6%;
}

.footer p:hover
{
  text-decoration: underline;
}

.footer_Copyright
{
text-align: center;
font-size: 11px;
width: 90%;
margin:auto;
margin-bottom: 6%;
margin-top: 2%;
}

.footer_Copyright p:hover
{
cursor: text;
color: rgb(39, 38, 38);    
}



/*-----------------------------------------------------Mid part -----------------------------------------*/
.mid_part{
  width: 80%;
  margin:100px auto 60px;
}

.back_image{
  background: url('https://a.travel-assets.com/travel-assets-manager/gmvd-1482-bookearly-emea/667x320.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 250px;
  border-radius: 10px;
  opacity: 2;
  background-position: center;
}
.back_image p{
  font-size: 13px;
  font-weight: 600;
  color: white;
  margin: 10px;
}
.back_image p:nth-child(1){
  display: inline-block;
  margin-top: 200px;
  margin-bottom: 0px;
}
.back_image p:nth-child(2){
  color: #343b53;
}
.second_part{
  display: flex;
  border: 0.5px solid #c9cac9;
  border-radius: 10px;
  margin-top: 10px;
}
.second_part > div:nth-child(1){
  width: 35%;
}
.second_part > div:nth-child(1) >img{
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 250px;
  margin-bottom: -5px;
}
.second_part > div:nth-child(2){
  display: flex;
  width: 70%;
}
.qr_code{
  width: 35%;
}
.qr_code > img{
  width: 80%;
  margin: 20px 10px 0px 5px;
}
.qr_code > p{
  font-size: 13px;
  font-weight: 700;
  padding-left: 30px;
  margin-top: -5px;
}
.app_info > p{
  color: #141d38;
  padding-left: 25px;
  margin: 0px;
}
.app_info > p:nth-child(1){
  padding-top: 20px;
  font-size: 30px;
  font-weight: 600;
}
.app_info > p:nth-child(2){
  padding-top: 5px;
  font-size: 13px;
  font-weight: 400;
}
.app_info > p:nth-child(3){
  padding-top: 20px;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;

}
.app_info > p:nth-child(5){
  padding-top: 10px;
  font-size: 12px;
  font-weight: 400;
}
.down_btns > select, .down_btns > input,.down_btns > button{
  height: 45px;
  width: 170px;
  border-radius: 8px;
  outline: none;
  border: 1px solid black;
  padding-left: 10px;
  margin-left: 30px;
  font-size: 15px;
}
.down_btns > input{
  height: 43px;
  margin-left: 10px;
}
.down_btns > button{
  margin-left: 10px;
  background-color: rgb(73, 73, 238);
  color: white;
  font-weight: 600;
  border: none;
}
.mid_part > div:nth-child(3){
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  color: #141d38;
}
.mid_part > div:nth-child(3) > p{
  margin: 15px 0px 10px;
}
.mid_part > div:nth-child(3) > p:hover{
  cursor: default;
  color: #141d38;
}
.mid_part > div:nth-child(3) > a{
  text-decoration: none;
  color: rgb(73, 73, 238);
  font-weight: 400;
}